.button {
    font-family: $primary-font;
    font-weight: $primary-font-bold;
    color: $white!important;
    background-color: $ballBlue;
    border: none;
    padding: .3rem 1.5rem;
    margin: 0 10px;
    font-size: $font-size-medium;
    &--largo {
        width: 100%;
        margin: 0;
        padding: 15px;
    }
    &:hover {
        background-color: $middleBlue;
    }
    &:focus {
        background-color: $gray;
    }
}