/*
Link Google Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

/*
Breakpoints @media
*/

$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;
$bp-xxl: 100%;